:root {
  --defaulPink: #7e055f;
  --defaultLightPink: #cf1a8a;
  --defaultLightYellow: #bb830b;
  --defaultWhite: #f3f3f3;
  --defaultDark: #232528;
  --defaultDark: #000;
  --defaultYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--defaultWhite) !important;
  color: var(--defaultDark) !important;
}
.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--defaulPink);
}
.text-bright {
  color: var(--defaultLightYellow);
}
.navbar {
  justify-content: flex-start !important;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--defaultBlack);
  border-radius: 0 !important;
  border: 0.1rem solid var(--defaultDark) !important;
}
.btn-black:hover {
  background: var(--defaultDark) !important;
  color: var(--defaultWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--defaultYellow);
}